@use 'variables';

#items {
    .card {
        border: 0;
        border-radius: 0;
        cursor: pointer;

        .shipping_image {
            vertical-align: inherit;
            margin-left: 5px;
        }
        
        .item-image {
            width: 180px;
            height: 180px;
            border-radius: 4px;
        }
        .location {
            font-size: 12px;
            margin-top: 32px;
            color: variables.$hard-gray;
        }
        .name {
            margin: 0;
            font-size: 18px;
            color: variables.$black;
        }
        .card-title {
            font-size: 24px;
            margin-bottom: 32px;
            margin-top: 16px;
            font-weight: 300;
            color: variables.$black;
        }
        hr {
            height: 1px;
            margin: 0 15px;
            background-color: variables.$medium-gray;
        }
    }

    #breadcrumb {
        padding: 16px 0;
        margin-left: 0;
        font-size: 12px;
        color: variables.$medium-gray;
        
        .separator {
            margin: 0 5px;
        }

        .col-auto {
            padding: 0;
        }
    }    
}